@import 'tailwindcss';
@plugin '../config/hero.ts';

@font-face {
  font-family: 'inter';
  src: url('../assets/resource/Inter.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-italic';
  src: url('../assets/resource/Inter-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto';
  src: url('../assets/resource/Roboto.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto-italic';
  src: url('../assets/resource/Roboto-Italic.ttf') format('truetype');
}

@theme {
  --font-sans: 'inter', 'roboto', sans-serif;
}

@layer theme {
  :root {
    font-family: var(--font-sans);
  }

  /* Transisi halus saat pergantian tema */
  *,
  *::before,
  *::after {
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease,
      color 0.15s ease;
  }
}

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
